@import "ui-variables";

.tabasco-drop-zone {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
}

.tabasco-left-drop-zone {
  .tabasco-drop-zone;
  background-image: linear-gradient(to right, fadeout(@background-color-info, 90%), fadeout(@background-color-info, 100%));
}

.tabasco-right-drop-zone {
  .tabasco-drop-zone;
  background-image: linear-gradient(to left, fadeout(@background-color-info, 90%), fadeout(@background-color-info, 100%));
}

.tabasco-top-drop-zone {
  .tabasco-drop-zone;
  background-image: linear-gradient(to bottom, fadeout(@background-color-info, 90%), fadeout(@background-color-info, 100%));
}

.tabasco-bottom-drop-zone {
  .tabasco-drop-zone;
  background-image: linear-gradient(to top, fadeout(@background-color-info, 90%), fadeout(@background-color-info, 100%));
}

.tabasco-left-drop-zone-hover {
  .tabasco-drop-zone;
  background-image: linear-gradient(to right, fadeout(@background-color-info, 50%), fadeout(@background-color-info, 100%));
}

.tabasco-right-drop-zone-hover {
  .tabasco-drop-zone;
  background-image: linear-gradient(to left, fadeout(@background-color-info, 50%), fadeout(@background-color-info, 100%));
}

.tabasco-top-drop-zone-hover {
  .tabasco-drop-zone;
  background-image: linear-gradient(to bottom, fadeout(@background-color-info, 50%), fadeout(@background-color-info, 100%));
}

.tabasco-bottom-drop-zone-hover {
  .tabasco-drop-zone;
  background-image: linear-gradient(to top, fadeout(@background-color-info, 50%), fadeout(@background-color-info, 100%));
}

.tabasco-center-drop-zone {
  .tabasco-drop-zone;
}

.tabasco-center-drop-zone-hover {
  .tabasco-drop-zone;
  background-color: fadeout(@background-color-info, 80%);
}
